/*CSS for base of the website, such as bg color, margin and padding, font style*/

:root {
    --bg: #fcfaf6; /* bg color for the whole website*/
    --primary: #111827; /*font color of the whole website. Some fonts not applicable to this*/
    --secondary: #fffbfb; /*nav a*/
    --accent: #111318; /*When hovering the navigation*/
    --muted: #80756b; /*Main information in the page. (paragraph)*/
    --card: #fffdf9; /*color of the card*/
    --bg-navigation:#117692;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
    body {
    background-color: var(--bg);
    color: var(--primary);
    line-height: 1.6;
}


