/*CSS for base of the website, such as bg color, margin and padding, font style*/

:root {
    --bg: #fcfaf6; /* bg color for the whole website*/
    --primary: #111827; /*font color of the whole website. Some fonts not applicable to this*/
    --secondary: #fffbfb; /*nav a*/
    --accent: #111318; /*When hovering the navigation*/
    --muted: #80756b; /*Main information in the page. (paragraph)*/
    --card: #fffdf9; /*color of the card*/
    --bg-navigation:#117692;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
    body {
    background-color: var(--bg);
    color: var(--primary);
    line-height: 1.6;
}

/*Background Logo*/
.main::before {
    content: "";
    position: absolute;

    top: -10vw;   
    right: -15vw;
    background-position: 80% -50px;

    width: 50vw;
    height: 50vw;
    max-width: 700px;
    max-height: 700px;

    background-image: url("../img/bg-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;

    opacity: 0.06;   
    filter: brightness(0.4); 
    pointer-events: none;
    z-index: 0;
}

.main > * {
  position: relative;
  z-index: 1;
}


