/* Css for Navigation, sidebar*/
/* Sidebar Navigation */
.sidebar {
    width: 240px;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    padding: 2rem 1rem;
}

.brand {
    font-weight: 600;
    font-size: 0.95rem;
    margin-bottom: 2rem;
}


.nav-item {
    padding: 0.7rem 0.9rem;
    margin-bottom: 0.4rem;
    border-radius: 8px;
    font-size: 0.85rem;
    cursor: pointer;
    color: #374151;
}

.nav-item.active,
.nav-item:hover {
    background: #f3f4f6;
    color: #000;
}


/* ===== MOBILE LAYOUT ===== */
.mobile-top {
    display: none;
    position: sticky;
    top: 0;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    padding: 0.9rem 1.2rem;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.burger {
    font-size: 1.4rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    .sidebar {
        display: none;
        position: fixed;
        top: 56px;
        left: 0;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e5e7eb;
        z-index: 999;
    }

    .sidebar.show {
        display: block;
    }

    .mobile-top {
        display: flex;
    }
    

    
}
