/*CSS for base of the website, such as bg color, margin and padding, font style*/

/**========================================================================
    The set of colors in the root block will be the palette of the website !!
 *========================================================================**/
:root {
    --bg: #f9fafb; /* bg color for the whole website*/
    --primary: #111827; /*font color of the whole website. Some fonts not applicable to this*/
    --secondary: #513737; /*nav a*/
    --accent: #2563eb; /*When hovering the navigation*/
    --muted: #80756b; /*Main information in the page. (paragraph)*/
    --card: #ffffff; /*color of the card*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
    
    body {
    background-color: var(--bg);
    color: var(--primary);
    line-height: 1.6;
}


