.layout {
    display: flex;
    min-height: 100vh;
    }

/* Main */
.main {
    flex: 1;
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header h1 {
    font-size: 1.4rem;
}

.user {
    font-size: 0.85rem;
    color: #555;
}

/*Status Bar*/
.status-bar {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    padding: 16px 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    flex-wrap: wrap;
}

.status-item {
    display: flex;
    flex-direction: column;
    min-width: 180px;
}

.status-item .label {
    font-size: 0.75rem;
    color: #777;
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.status-item .value {
    font-size: 0.95rem;
    font-weight: 500;
    color: #222;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Active status */
.status-item .value.active {
    color: #2e7d32;
}

.status-item .dot {
    width: 8px;
    height: 8px;
    background: #2e7d32;
    border-radius: 50%;
}


/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.card {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 14px;
    border: 1px solid #e5e7eb;
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
}

.card p {
    font-size: 0.85rem;
    color: #6b7280;
}

/* Table */
.table-container {
    background: #ffffff;
    border-radius: 14px;
    border: 1px solid #e5e7eb;
    padding: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

th, td {
    text-align: left;
    padding: 0.8rem;
    border-bottom: 1px solid #f1f1f1;
}

th {
    font-size: 0.75rem;
    color: #6b7280;
    text-transform: uppercase;
}

.view-btn {
    padding: 0.3rem 0.9rem;
    border-radius: 6px;
    border: 1px solid #000;
    background: transparent;
    font-size: 0.75rem;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}

.view-btn:hover {
    background: #000;
    color: #fff;
}

@media (max-width: 768px) {
.layout {
    flex-direction: column;
    }
.main {
    padding: 1.5rem;
    }

.status-bar {
    flex-direction: column;
    gap: 12px;
    }
    
}